In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
data = pd.read_csv('great_customers.csv')
#selecting categorical features:
data = data[['workclass','education_rank','marital-status','occupation','race','sex','great_customer_class']]
data.head(6)

,workclass,education_rank,marital-status,occupation,race,sex,great_customer_class
0,private,9,Never-married,sales,not_caucasian,Male,0
1,private,9,Divorced,sales,caucasian,Female,0
2,private,10,Never-married,clerical,caucasian,Female,0
3,private,7,Divorced,sales,caucasian,Female,0
4,private,9,Married,sales,not_caucasian,Male,0
5,private,15,Never-married,professional,caucasian,Female,0

In [11]:
#cleaning data:
data['great_customer_class'].isna().sum()

0

In [8]:
data['workclass'].fillna('x',inplace=True)
data['occupation'].fillna('x',inplace=True)

In [13]:
from sklearn.feature_selection import chi2
x = data.drop(columns=['sex'],axis=1)
y = data['sex']
chi_scores = chi2(x,y)
chi_scores

ValueError: could not convert string to float: 'private'